[run]
source = dayu_widgets
omit =
    */test/*
    */tests/*
    */docs/*
    */examples/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
fail_under = 70
show_missing = True

[html]
directory = coverage_html_report
